<html>
<head>
<title>What's A Persona?</title>
<link href="../css/about.css" rel="stylesheet" type="text/css">
</head>

<body background="../media/personas.jpg">
<div class="nav-container">
	<ul>   
	<li><a href="../index.html">Home</a></li>
	<li><a href="persona.html">About</a></li>
	<li><a href="persona 3.html">Persona 3</a></li>   
	<li><a href="persona 4.html">Persona 4</a></li> 
	<li><a href="persona 5.html">Persona 5</a></li> 
	</ul>
</div>
<div class="mydiv">
<h1>What's a Persona?</h1>

<p>Persona, also known as Shin Megami Tensei: Persona, is a video game franchise developed and published by Atlus. Focusing around a series of role-playing video games, Persona is a spin-off from Atlus' Megami Tensei franchiseThe series takes its title from beings summoned by characters in battle, manifesting from their personality.</p>

<p>A defining aspect of the series is the Personas, manifestations of a person's psyche. Many Personas used up to Persona 3 are inspired by Graeco-Roman mythology. In Persona 4 they are based on Japanese deities; Persona 5 uses characters inspired by popular fictional and historical outlaws. The summoning ritual for Personas in battle varies throughout the series: in earlier games, the party gains the ability to summon through a short ritual after playing a parlor game; in Persona 3, they fire a gun-like device called an Evoker at their head; in Persona 4, they summon their Personas using Tarot cards; in Persona 5, they are summoned through the characters' masks.</p>

<p>Many of the concepts and characters within the series (Personas, Shadows, Philemon) use Jungian psychology and archetypes. A recurring motif are the "masks" people wear during everyday life, which ties back to their Personas. This motif was more overtly expressed in Persona 5 through the main casts' use of masks in their thief guises. The dual lives of the main casts are directly inspired by these themes. Each game also includes specific themes and motifs.  Persona 3 employs themes involving depression and the darkness within people; Persona 4 focuses on how gossip and the media influences people's views of others; and Persona 5 shows how the main characters pursue personal freedom in a restrictive modern society.</p>
</div>

<div class="img">
<img src="../media/persona 3.jpg" alt="the cast of persona 3">
<img src="../media/persona 4.jpg" alt="the cast of persona 4">
<img src="../media/persona 5.jpg" alt="the cast of persona 5">
</div>

</body>
</html>