<html>
<head>
<title>American Politics</title>

<link href="../css/persona 4.css" rel="stylesheet" type="text/css">
</head>

<body background="../media/p4.jpg">
<div class="nav-container">
	<ul>   
	<li><a href="../index.html">Home</a></li>
	<li><a href="about.html">About</a></li>
	<li><a href="persona 3.html">Persona 3</a></li>   
	<li><a href="persona 4.html">Persona 4</a></li> 
	<li><a href="persona 5.html">Persona 5</a></li> 
	</ul>
</div>

<h1>Reach Out for the Truth...</h1>

<center><iframe width="560" height="315" src="https://www.youtube.com/embed/-oIWGlbl92k" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></center>

<div class="mydiv">
<p>Persona 4 follows a group of high school students dealing with a mysterious TV channel dedicated to distorting and exaggerating the truth of who they are and their identities. A string of bizarre murders related to the TV channel begins shaking their once peaceful town. They explore the mysterious world inside the TV and perform rescue missions in order to save its victims from death. Only by looking past what is on the screen, finding and evaluating the truth among a myriad of lies can they hope to find the serial killer and save their town.</p></div>
</body>
</html>