<html>
<head>
<title>Persona 3</title>
<link href="../css/persona 3.css" rel="stylesheet" type="text/css">
</head>

<body background="../media/p3.jpg">

<div class="nav-container">
	<ul>   
	<li><a href="../index.html">Home</a></li>
	<li><a href="about.html">About</a></li>
	<li><a href="persona 3.html">Persona 3</a></li>   
	<li><a href="persona 4.html">Persona 4</a></li> 
	<li><a href="persona 5.html">Persona 5</a></li> 
	</ul>
</div>

<h1>Burn My Dread...</h1>

<center><iframe width="560" height="315" src="https://www.youtube.com/embed/63O7X2jeWFM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></center>

<div class="mydiv">
<p>Persona 3 follows a group of high school students trying to cope with, understand and accept death in a world surrounded by it, as well as find their own reasons for living. They form a group called SEES in order to investigate the Dark Hour, a mysterious time period between one day and the next that few people are aware of. During the Dark Hour, SEES explores Tartarus, a large tower containing Shadows, creatures that feed on the minds of humans. To fight the Shadows, each member of SEES is able to summon a Persona, a manifestation of their inner self.</p>,</div>






</body>
</html>