<html>
<head>
<title>Persona 5</title>

<link href="../css/persona 5.css" rel="stylesheet" type="text/css">
</head>

<body background="../media/p5.jpg">
<div class="nav-container">
	<ul>   
	<li><a href="../index.html">Home</a></li>
	<li><a href="persona.html">About</a></li>
	<li><a href="persona 3.html">Persona 3</a></li>   
	<li><a href="persona 4.html">Persona 4</a></li> 
	<li><a href="persona 5.html">Persona 5</a></li> 
	</ul>
</div>

<h1>Go to Bed!</h1>

<center></center><iframe width="560" height="315" src="https://www.youtube.com/embed/kJIGlas15Uk?start=25" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></center>

<div class="mydiv">
<p>Persona 5 is a fantasy based on reality which follows a group of troubled high school students: the protagonist and a collection of compatriots he meets. These disturbed and troubled teenagers gradually realize that they are living in a toxic and dangerous world resembling a prison full of slavery, oppression and injustice, ruled by corrupted and twisted adults. They can't live with the system and can't live without it, and simply existing means they are at risk of being doomed and condemned to a life of slavery.

In order to seek freedom, liberation and justice, they live dual lives as rebellious Phantom Thieves of Hearts. Using a mysterious smartphone app and a cat who can transform into a bus, they undertake fantastical adventures by using otherworldly powers to enter the hearts of people (specifically, corrupt adults in positions of power) in order to re-shape and transform them. The Phantom Thieves realize that society forces people to wear masks to protect their inner vulnerabilities, and by literally ripping off their protective mask to unleash their Personas and confronting their inner selves do the heroes awaken their inner power, and using it to help those in need. Ultimately, the group of Phantom Thieves seeks to change their day-to-day world to match their perception, end slavery and see through the masks modern society wears.</p>,</div>


</body>
</html>